.skills__container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.skills__box{
    background: rgba(255, 255, 255, 0.05);
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #373434;
    border-radius: 10px;

    img{
        width: 50px;
        height: 50px;
    }
    p{
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .lheight{
        line-height: 0.8rem;
    }
    .img_reset{
        width: 50px;
        height: 45px!important;
    }
}

.skills__box:hover{
    img{
        width: 60px;
        height: 60px;
    }
}



@media screen and (min-width: 768px){
    .skills__box{
        width: 150px;
        height: 150px;
    
        img{
            width: 80px;
            height: 80px;
        }
        p{
            font-size: 1.1rem;
            margin-top: 1.3rem;
        }

        .lheight{
            line-height: normal;
        }
        .img_reset{
            width: 80px;
            height: 80px!important;
        }
    }

    .skills__box:hover{
        img{
            width: 90px;
            height: 90px;
        }
    }
}

